[submodule "microsservices/device-management"]
	path = microsservices/device-management
	url = https://github.com/brenopedro/algasensors-device-management.git
[submodule "microsservices/temperature-processing"]
	path = microsservices/temperature-processing
	url = https://github.com/brenopedro/algasensors-temperature-processing.git
[submodule "microsservices/temperature-monitoring"]
	path = microsservices/temperature-monitoring
	url = https://github.com/brenopedro/algasensors-temperature-monitoring.git
